@{
  Layout = "_Layout";
}

@model TravelBlog.Models.Destination

<h2>Edit</h2>

<h4>Edit this destination: @Html.DisplayFor(model => model.Location)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DestinationId)

    @Html.LabelFor(model => model.Location)
    @Html.EditorFor(model => model.Location)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to destinations", "Index")</p>